<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-body">
                    <h2 class="mb-3">{{ titleForm }}</h2>
                    <form (ngSubmit)="onRegister()">
                        <div *ngIf="errorMessages['general']" class="error-message bg-danger text-light p-2 mb-3 small">{{ errorMessages['general'] }}</div>
                        <div class="form-floating mb-3">
                            <label for="userName">User name</label>
                            <input class="form-control" id="userName" name="userName" type="text" placeholder="User name" [(ngModel)]="userName"  (keyup)="validateUserName()" required/>
                            <div *ngIf="errorMessages['userName']" class="small text-danger mt-1 font-italic">{{ errorMessages['userName'] }}</div>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="password">Password</label>
                            <input class="form-control" id="password" type="password" name="password" placeholder="Password" [(ngModel)]="password"  (keyup)="validatePassword()" required/>
                            <div *ngIf="errorMessages['password']" class="small text-danger mt-1 font-italic">{{ errorMessages['password'] }}</div>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="email">Email address</label>
                            <input class="form-control" id="email" name="email" type="email" placeholder="Email" [(ngModel)]="email" (keyup)="validateEmail()" required/>
                            <div *ngIf="errorMessages['email']" class="small text-danger mt-1 font-italic">{{ errorMessages['email'] }}</div>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-3 col-lg-6">
                                <label for="firstName">First Name</label>
                                <input class="form-control" id="firstName" type="text" name="firstName" placeholder="First Name" [(ngModel)]="firstName"  (keyup)="validateFirstName()" required/>
                                <div *ngIf="errorMessages['firstName']" class="small text-danger mt-1 font-italic">{{ errorMessages['firstName'] }}</div>
                            </div>
                            <div class="form-floating mb-3 col-lg-6">
                                <label for="lastName">Last Name</label>
                                <input class="form-control" id="lastName" type="text" name="lastName" placeholder="Last Name" [(ngModel)]="lastName"  (keyup)="validateLastName()" required/>
                                <div *ngIf="errorMessages['lastName']" class="small text-danger mt-1 font-italic">{{ errorMessages['lastName'] }}</div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="phone">Phone</label>
                            <input class="form-control" id="phone" name="phone" type="text" placeholder="phone" [(ngModel)]="phone"  (keyup)="validatePhone()" required/>
                            <div *ngIf="errorMessages['phone']" class="small text-danger mt-1 font-italic">{{ errorMessages['phone'] }}</div>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="address">Address</label>
                            <input class="form-control" id="address" name="address" type="text" placeholder="Address" [(ngModel)]="address"  (keyup)="validateAddress()" required/>
                            <div *ngIf="errorMessages['address']" class="small text-danger mt-1 font-italic">{{ errorMessages['address'] }}</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary border-" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
