<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-body">
                    <form (ngSubmit)="onForgotPassword()">
                        <div class="form-floating mb-3">
                            <label for="email">Email address</label>
                            <input class="form-control" id="email" name="email" type="email" placeholder="Email" [(ngModel)]="email" (keyup)="validateEmail()" required/>
                            <div *ngIf="errorMessageEmail" class="small text-danger mt-1 font-italic">{{ errorMessageEmail }}</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary border-" type="submit">Send Mail</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>