<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Books</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a [routerLink]="['/home']">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Books</p>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row px-xl-5">
        <!-- Shop Product Start -->
        <div class="col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form action="">
                            <div class="input-group">
                                <input type="text" #searchTitle (input)="searchBooksByTitle(searchTitle.value)"
                                    class="form-control" placeholder="Search by name">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                <a class="dropdown-item" href="javascript:void(0);"
                                    (click)="sortBooksByProperty('title')"
                                    [ngClass]="{'active': selectedSort === 'title'}">Name</a>
                                <a class="dropdown-item" href="javascript:void(0);"
                                    (click)="sortBooksByProperty('published')"
                                    [ngClass]="{'active': selectedSort === 'published'}">Date</a>
                                <a class="dropdown-item" href="javascript:void(0);"
                                    (click)="sortBooksByProperty('rate')"
                                    [ngClass]="{'active': selectedSort === 'rate'}">Best Rating</a>
                            </div>
                            <button *ngIf="isAdmin()" type="button" class="btn btn-primary border-0 ml-3" data-toggle="modal" data-target="#exampleModalCenter" (click)="openModal()">Add</button>
                        </div>
                    </div>
                </div>

                <div *ngIf="notFound" class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <p class="font-weight-medium">No suitable books found!</p>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 pb-1" *ngFor="let book of paginatedBooks; let i = index">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="{{ book.image }}" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-1">{{ book.title }}</h6>
                            <p class="text-truncate mb-3">(Author: {{ book.author }} - Quantity: {{ book.quantity }})
                            </p>
                            <div class="d-flex justify-content-center">
                                <h6 *ngIf="book.salePrice > 0; else showOriginalPrice">{{ book.salePrice | currency }}
                                </h6>
                                <ng-template #showOriginalPrice>
                                    <h6>{{ book.price | currency }}</h6>
                                </ng-template>
                                <h6 *ngIf="book.salePrice > 0" class="text-muted ml-2"><del>{{ book.price | currency
                                        }}</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a [routerLink]="['/books/detail', book.id]" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-eye text-primary mr-1"></i>View Detail
                            </a>
                            <a (click)="addToCart(book)" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                            </a>
                        </div>
                        <div *ngIf="isAdmin()" class="card-footer d-flex justify-content-between bg-light border border-top-0">
                            <button type="button" class="btn btn-primary border-0" data-toggle="modal" data-target="#exampleModalCenter" (click)="openModal(book)">Edit</button>
                            <button type="button" class="btn btn-primary border-0" data-toggle="modal" [attr.data-target]="'#removeModal' + (i + 1)">Delete</button>
                        </div>
                        <div class="modal fade" [attr.id]="'removeModal' + (i + 1)" tabindex="-1" role="dialog" [attr.aria-labelledby]="'removeModalTitle' + (i + 1)" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Confirm deletion of "{{ book.title }}"?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">
                                    Cancel
                                  </button>
                                  <button type="button" class="btn btn-primary" (click)="deleteBook(book.id)">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="col-12 pb-1">
                    <nav *ngIf="totalPages > 1" aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-3">
                            <li class="page-item" [class.disabled]="currentPage === 1"
                                [class.cursor-pointer]="currentPage !== 1">
                                <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page"
                                [class.cursor-pointer]="currentPage !== page">
                                <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" [class.disabled]="currentPage === totalPages"
                                [class.cursor-pointer]="currentPage !== totalPages">
                                <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>


<div *ngIf="isAdmin()" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-100" role="document">
        <form class="w-100" [formGroup]="bookForm" (ngSubmit)="submitForm()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">{{ isEditMode ? 'Update Book' : 'Add New Book' }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 300px);overflow: hidden;overflow-y: auto;">
                    <div  class="form-floating mb-3">
                        <label for="title">Title*:</label>
                        <input class="form-control" type="text" id="title" formControlName="title">
                        <div *ngIf="bookForm?.get('title')?.hasError('required') && bookForm?.get('title')?.touched" class="error-message small text-danger mt-1 font-italic">
                            Title is required
                        </div>
                    </div>
                    <div  class="form-floating mb-3">
                        <label for="subtitle">Subtitle*:</label>
                        <input class="form-control" type="text" id="subtitle" formControlName="subtitle">
                        <div *ngIf="bookForm?.get('subtitle')?.hasError('required') && bookForm?.get('subtitle')?.touched" class="error-message small text-danger mt-1 font-italic">
                            Subtitle is required
                        </div>
                    </div>
                    <div  class="form-floating mb-3">
                        <label for="author">Author:</label>
                        <input class="form-control" type="text" id="author" formControlName="author">
                        <div *ngIf="bookForm?.get('author')?.hasError('required') && bookForm?.get('author')?.touched" class="error-message small text-danger mt-1 font-italic">
                            Author is required
                        </div>
                    </div>
                    <div  class="form-floating mb-3">
                        <label for="publisher">Publisher*:</label>
                        <input class="form-control" type="text" id="publisher" formControlName="publisher">
                        <div *ngIf="bookForm?.get('publisher')?.hasError('required') && bookForm?.get('publisher')?.touched" class="error-message small text-danger mt-1 font-italic">
                            Publisher is required
                        </div>
                    </div>
                    <div  class="form-floating mb-3">
                        <label for="image">Image*:</label>
                        <input class="form-control" type="text" id="image" formControlName="image">
                        <div *ngIf="bookForm?.get('image')?.hasError('required') && bookForm?.get('image')?.touched" class="error-message small text-danger mt-1 font-italic">
                            Image is required
                        </div>
                    </div>
                    <div  class="form-floating mb-3">
                        <label for="pages">Pages:</label>
                        <input class="form-control" type="text" id="pages" formControlName="pages">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="price">Price*:</label>
                        <input class="form-control" type="number" id="price" formControlName="price">
                        <div *ngIf="bookForm?.get('price')?.hasError('required') && bookForm?.get('price')?.touched" class="error-message small text-danger mt-1 font-italic">
                            Price is required
                        </div>
                    </div>
                    <div  class="form-floating mb-3">
                        <label for="salePrice">Sale Price:</label>
                        <input class="form-control" type="number" id="salePrice" formControlName="salePrice">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="quantity">Quantity*:</label>
                        <input class="form-control" type="number" id="quantity" formControlName="quantity">
                        <div *ngIf="bookForm?.get('quantity')?.hasError('required') && bookForm?.get('quantity')?.touched" class="error-message small text-danger mt-1 font-italic">
                            Quantity is required
                        </div>
                    </div>
                    <div  class="form-floating mb-3">
                        <label for="categories">Categories:</label>
                        <input class="form-control" type="text" id="categories" formControlName="categories">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="description">Description*:</label>
                        <textarea style="min-height: 130px;" class="form-control" type="text" id="description" formControlName="description"></textarea>
                        <div *ngIf="bookForm?.get('description')?.hasError('required') && bookForm?.get('description')?.touched" class="error-message small text-danger mt-1 font-italic">
                            Description is required
                        </div>
                    </div>
                    <div  class="form-floating mb-3">
                        <label for="website">Website:</label>
                        <input class="form-control" type="text" id="website" formControlName="website">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" type="submit" [disabled]="!bookForm.valid">{{ isEditMode ? 'Update' : 'Add' }}</button>
                </div>
            </div>
        </form>
    </div>
  </div>

  <!-- success -->
<button *ngIf="isAdmin()" type="button" id="showSuccess" class="btn btn-primary d-none" data-toggle="modal" data-target="#success">
    btn Success
  </button>
  
  <!-- Modal -->
  <div *ngIf="isAdmin()" class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 300px;">
      <div class="modal-content">
        <div class="modal-body d-flex justify-content-center flex-column align-items-center">
          <button type="button" class="close pb-1 pl-2 pr-2 pt-1" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 3px; top: 3px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none" class="mb-3">
            <g clip-path="url(#clip0_985_64659)">
              <path d="M39.2325 12.3418C40.4273 13.9087 41.3577 15.6128 42.0824 17.5029C43.5808 16.9545 45.0498 16.4256 46.5972 15.8576C44.8148 11.1176 41.9061 7.33732 37.7831 4.3797C36.8625 5.69202 35.9615 6.97496 35.0311 8.30687C36.6275 9.47229 38.0377 10.7944 39.2325 12.3418Z" fill="#12B76A"/>
              <path d="M32.1421 6.60317C32.808 5.18312 33.4642 3.76307 34.1693 2.25489C26.4423 -0.996537 18.9111 -0.839842 11.713 3.43989C4.74982 7.58252 0.969551 13.8797 0 21.9887C1.65509 22.1356 3.22204 22.2727 4.7792 22.4098C5.63123 10.1582 19.1658 0.766282 32.1421 6.60317Z" fill="#12B76A"/>
              <path d="M4.70085 25.7686C3.21225 25.8959 1.66488 26.033 0.127312 26.1604C0.489669 35.9538 9.02955 46.9616 21.8981 47.9997C22.0352 46.4132 22.1723 44.8658 22.2997 43.3576C12.2418 41.6927 6.40491 35.8559 4.70085 25.7686Z" fill="#12B76A"/>
              <path d="M39.399 24.1233C39.399 15.6324 32.4946 8.72803 24.0037 8.72803C15.5128 8.72803 8.60844 15.6324 8.60844 24.1233C8.60844 32.6142 15.5128 39.5186 24.0037 39.5186C32.4946 39.5186 39.399 32.6142 39.399 24.1233ZM24.9439 27.3454L22.1234 30.1561L19.3127 27.3356L16.6097 24.613L19.4302 21.8023L22.1332 24.5248L28.5968 18.0906L31.4076 20.9111L24.9439 27.3454Z" fill="#12B76A"/>
              <path d="M47.6549 19.9219C46.1173 20.1864 44.5602 20.4606 42.954 20.7348C43.7865 26.3464 42.6308 31.3901 39.2031 35.8265C35.795 40.2335 31.2411 42.6525 25.6588 43.2695C25.7959 44.856 25.933 46.3936 26.0603 47.941C37.7341 47.5296 50.2501 35.8069 47.6549 19.9219Z" fill="#12B76A"/>
            </g>
            <defs>
              <clipPath id="clip0_985_64659">
                <rect width="48" height="48" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <h5 class="text-success">{{textSuccess}}</h5>
        </div>
      </div>
    </div>
  </div>