<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Books</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a [routerLink]="['/home']">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Books</p>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Product Start -->
        <div class="col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form action="">
                            <div class="input-group">
                                <input type="text" #searchTitle (input)="searchBooksByTitle(searchTitle.value)"
                                    class="form-control" placeholder="Search by name">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                <a class="dropdown-item" href="javascript:void(0);"
                                    (click)="sortBooksByProperty('title')"
                                    [ngClass]="{'active': selectedSort === 'title'}">Name</a>
                                <a class="dropdown-item" href="javascript:void(0);"
                                    (click)="sortBooksByProperty('published')"
                                    [ngClass]="{'active': selectedSort === 'published'}">Date</a>
                                <a class="dropdown-item" href="javascript:void(0);"
                                    (click)="sortBooksByProperty('rate')"
                                    [ngClass]="{'active': selectedSort === 'rate'}">Best Rating</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="notFound" class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <p class="font-weight-medium">No suitable books found!</p>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 pb-1" *ngFor="let book of paginatedBooks;">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="{{ book.image }}" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-1">{{ book.title }}</h6>
                            <p class="text-truncate mb-3">(Author: {{ book.author }} - Quantity: {{ book.quantity }})
                            </p>
                            <div class="d-flex justify-content-center">
                                <h6 *ngIf="book.salePrice > 0; else showOriginalPrice">{{ book.salePrice | currency }}
                                </h6>
                                <ng-template #showOriginalPrice>
                                    <h6>{{ book.price | currency }}</h6>
                                </ng-template>
                                <h6 *ngIf="book.salePrice > 0" class="text-muted ml-2"><del>{{ book.price | currency
                                        }}</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a [routerLink]="['/books/detail', book.id]" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-eye text-primary mr-1"></i>View Detail
                            </a>
                            <a (click)="addToCart(book)" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 pb-1">
                    <nav *ngIf="totalPages > 1" aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-3">
                            <li class="page-item" [class.disabled]="currentPage === 1"
                                [class.cursor-pointer]="currentPage !== 1">
                                <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page"
                                [class.cursor-pointer]="currentPage !== page">
                                <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" [class.disabled]="currentPage === totalPages"
                                [class.cursor-pointer]="currentPage !== totalPages">
                                <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>